#brief-introduction-section {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;

    div {

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            height: 15em;
        }

        #what-i-do {

            ul li {

                font-size: 1.8em;
                display: flex;
                align-items: center;
                height: 2em;
                
                img {
                    height: 1.2em;
                    width: 1.2em;
                }

                p {
                    padding-left: 0.4em;
                    font-weight: 600;
                    
                    span {
                        color: $accent-colour-purple;
                    }
                }
            }
        }
    }


    .hello {

        &.mobile {
            display: none;
        }
            
        display: flex;
        align-items: center;
        padding: 2.5em 0;

        svg, h1, img {
            padding: 0px 0.5em;
            font-size: 1.5em;
        }

    }
}

@media (max-width: $mobile-breakpoint-width) {
    #brief-introduction-section {

        padding-top: 1em;

        div {

            flex-direction: column;

            svg {
                height: 8em;
                align-self: flex-end;
                margin-bottom: -6em;
            }

            #what-i-do {

                ul {
                    padding: 0;
                
                    li {
                        font-size: 1.5em;
                    }
                } 
            }
        }

        .hello {

            padding: 1.5em 0;

            &.desktop {
                display: none;
            }

            &.mobile {
                
                display: inherit;
                flex-direction: column;

                div {

                    flex-direction: row;

                    svg {
                        margin: 0;
                        height: 4em;
                        width: 4em;
                    }

                    img {
                        width: 100px;
                    }

                }

                h1 {
                    font-size: 1.1em;
                }

            }

        }

    }
}

@media (max-width: $small-mobile-breakpoint-width) {
    #brief-introduction-section {

        padding-top: 1em;

        div {

            svg {
                height: 7em;
                width: 7em;
                padding-right: 5px;
            }

            #what-i-do {
                width: 100%;

                ul {
                    padding: 0 10px;

                    li {
                        font-size: 1.1em;
                        padding: 0 0 20px 0;
                    }
                }
            }


        }
    }
}
