html {
    scroll-behavior: smooth;
}

body {
    background-color: $main-colour;
    margin: 0;
    padding: 100px 0 0 0;
    position: relative;
    scroll-behavior: smooth;

    & > section {
    
        height: calc(100vh - 100px);
        padding: 100px 5em 0 5em;
    
        &:nth-of-type(even) {
            background-color: $accent-colour;

            h1, h2, h3, li, p, a {
                color: $main-colour;
            }
        }

        &:last-of-type {
            height: calc(100vh - 200px);
        }
    }
}

h1, h2, h3, li, p, a {
    color: $accent-colour;
    font-family: $main-font;
    text-decoration: none;
    margin: 0;
}

h1 {
    font-family: $accent-font;
}

ul {
    
    display: inline-block;

    li {
        list-style: none;
        
    }
}
