%site-width-extension {
    max-width: $max-site-width;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

%section-extension {
    padding: 2em 0;

    .title {
        margin: 0 0 0 2.5em;
        h2 {
            margin: 0;
            font-size: 2em;
        }
    }
}

%slider-indicator-extension {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 20%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $main-background-colour;
    margin: 0;
    padding: 0;
    position: relative;
}

h1, h2, h3, h4, h5, h6, li, p, a {
    color: $text-colour;
    font-family: $main-font;
    text-decoration: none;
}

ul {
    display: inline-block;
    li {
        list-style: none;
        
    }
}

#progress-bar {
    width: 100%;
    height: 10px;
    position: fixed;
    top: 0;
    background: $main-gradent-colour;
}

.site-container {
    @extend %site-width-extension;
}

#showcase {
    background: $main-gradent-colour;
}