header {
    
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    pointer-events: none;

    a {
        pointer-events: all;
    }

    nav {

        #mobile-nav-menu {
            display: none;
        }

        ul {
            padding: 0;
            
            li {
                position: relative;
                text-align: right;
                font-size: 1.2em;
                padding-bottom: 1em;
            }

            a:last-child li {
                padding: 0;
            }

            li.active {

                color: $accent-colour-purple;
                
                &:after {  
                    content: '<';
                    position: absolute;
                    right: -1.5em;
                    top: 0;
                }
            }

            &.show {
                display: inline-block;
            }
        }
    }
}

@media (max-width: $mobile-breakpoint-width) {

    header {

        width: 100%;
        max-width: 100%;
        height: 100px;
        padding-top: 10px;
        background: rgba(255,255,255,0.95);
        pointer-events: all;

        #logo {
            height: 80px;
            padding: 10px;
        }

        nav {

            #mobile-nav-menu {
                display: block;
                height: 40px;
                width: 40px;
                padding: 30px;
                margin-left: auto;
            }

            ul {
                display: none;
                position: relative;
                margin: 0;
                border-bottom-left-radius: 20px;
                overflow: hidden;

                li, a:last-child li {
                    color: #fff;
                    background: $secondary-background-colour;
                    padding: 20px 30px 20px 100px;

                    &.active {

                        color: #fff;
                        background: $main-gradent-colour;
                        
                        &:after {  
                            display: none;
                        }
                    }
                }
            }
        }

    }

}
