header {

    #flash-hello, nav {
        display: grid;
        grid-template-columns: 45% auto;
        align-items: stretch;
        height: 100px;

        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
        background-color:var(--main-colour);
       
        & > section {
            padding: 0 2em;
            display: grid;
            align-items: center;

            svg {
                justify-self: end;
                height: 3em;
                width: 3em;
            }

            p {
                font-family: $accent-font;
                font-weight: bold;
            }

            &:nth-of-type(even) {
                background-color: var(--accent-colour);

                    h3, p {
                        color: var(--main-colour);
                    }
            }
        }
    }

    nav {

        // TODO: Use to transition between states.
        //opacity: 0;
        //pointer-events: none;
    
        p {
            position: relative;
        }

        p.active::after {
            height: 1em;
            width: 1em;
            background: url(/public/assets/images/nav-arrow_green.svg) no-repeat;
            background-size: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -1.5em;
            content: '';
        }

        section:last-of-type p.active:after {
            background-image: url(/public/assets/images/nav-arrow_purple.svg);
        }

        & > section {
            grid-template-columns: 50% auto;
            justify-items: center;

            #colour-changing-options {
                justify-self: end;

                svg {
                    padding: 0 0.5em;
                    cursor: pointer;

                    path {
                        pointer-events: none;
                    }

                    &[data-scheme="p-t"] {

                        path[data-name="filling-bucket"] {
                            fill: var(--p-t_main-colour);
                        }

                        path[data-name="filling-drop"] {
                            fill: var(--p-t_accent-colour);
                        }

                        path[data-name="outline"] {
                            fill: var(--main-colour);
                        }

                    }

                    &[data-scheme="o-b"] {

                        path[data-name="filling-bucket"] {
                            fill: var(--o-b_main-colour);
                        }

                        path[data-name="filling-drop"] {
                            fill: var(--o-b_accent-colour);
                        }

                        path[data-name="outline"] {
                            fill: var(--main-colour);
                        }

                    }

                    &[data-scheme="b-ng"] {

                        path[data-name="filling-bucket"] {
                            fill: var(--b-ng_main-colour);
                        }

                        path[data-name="filling-drop"] {
                            fill: var(--b-ng_accent-colour);
                        }

                        path[data-name="outline"] {
                            fill: var(--main-colour);
                        }

                    }
                }
            }
        }

    }   
}
