#introduction {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 10em);

    h1 {
        align-self: center;
        padding: 1.5em 0;
    }

    svg {
        
        padding: 1.5em 0;
        margin-right: -6em;

        .pull-request-icon {
            stroke: var(--accent-colour);
            stroke-miterlimit:10;
            stroke-width:7px;
        }
        .pull-request-icon .circle, .pull-request-icon .arrow-head {
            stroke: none;
            fill: var(--accent-colour);
        }
        
        .merge-icon {
            stroke: var(--accent-colour);
            stroke-miterlimit:10;
            stroke-width:7px;
        }
        .merge-icon .circle {
            stroke: none;
            fill: var(--accent-colour);
        }

        .pull-request-icon .text, .merge-icon .text {
            stroke: none;
        }

        .travel {
            stroke: var(--accent-colour);
            stroke-miterlimit:10;
            stroke-width:7px;
        }
        .travel path {
            fill: none;
        }

        .commit path {
            stroke: none;
            fill: var(--accent-colour);
            opacity: 0;
        }

        .text {
            font-family:AutomateOT-Bold, Automate OT;
            font-size:14px;
            fill: var(--accent-colour);
            opacity: 0;
        }

        .pull-request-icon .text {
            opacity: 1;
        }
        
        .travel {

            & > path {
                stroke-dashoffset: 217px;
                stroke-dasharray: 217px;
                animation: draw 1.5s ease forwards;
                animation-delay: 0.5s;
            }

            &.path-2 > path {
                animation-delay: 2s;
            }

            &.path-3 > path {
                animation-delay: 3.5s;
            }

            &.path-4 > path {
                animation-delay: 4.5s;
            }

            &.path-5 > path {
                animation-delay: 5.5s;
            }
        }

        .commit, .merge-icon {
            
            & text, & path {
                animation: show 0.5s ease forwards;
                animation-delay: 1s;
            }

            &.commit-1 > text, &.commit-1 > path {
                animation-delay: 0.5s;
            }

            &.commit-2 > text, &.commit-2 > path {
                animation-delay: 1.5s;
            }

            &.commit-3 > text, &.commit-3 > path {
                animation-delay: 3s;
            }

            &.commit-4 > text, &.commit-4 > path {
                animation-delay: 4s;
            }

            &.commit-5 > text, &.commit-5 > path {
                animation-delay: 5.5s;
            }

            & > text {
                animation-delay: 5.7s;
            }
        }

    }


    @keyframes draw {
        to {
            stroke-dashoffset: 0;
        }
    }

    @keyframes show {
        to {
            opacity: 1;
        }
    }

}
