#projects-section {
    @extend %section-extension;
    background: $main-background-colour;
    border: 5px solid $secondary-background-colour;

    .slider-indicator {
        @extend %slider-indicator-extension;
        padding-top: 0.4em;
    }

    .slider {
        display: flex;
        padding: 2.5em 0 3em 0;
    }

    .card {
        display: flex;
        margin-left: 1.5em;

        .display {

            .image-container {
                @extend %image-container-extension;
                background: $secondary-background-colour;
            }

            .links {
                display: flex;
                justify-content: space-around;

                div {
                    display: flex;
                    align-items: center;
                    font-size: 0.8em;
                    svg {
                        height: 2em;
                    }
                    p {
                        padding-left: 0.4em;
                        font-weight: 600;
                    }
                }
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            width: 12em;
            margin-bottom: 3em;

            h3, p {
                padding-left: 1em;
            }

            .technologies {
                margin-top: auto;

                div {
                    background: $secondary-background-colour;
                    border-radius: 5px;
                    margin: 1em 1em 0 1em;
                    padding: 5px;
                    text-align: center;

                    p {
                        color: $main-background-colour;
                        margin: 0;
                        padding: 0;
                        font-weight: 600;
                    }
                }
            }

        }

    }
}

@media (max-width: $mobile-breakpoint-width) {
    #projects-section {

        .title {
            width: 100%;
            font-size: 1em;
            text-align: center;
            margin: 0;

            .slider-indicator {
                margin: auto;
                max-width: 80%;
            }
        }

        .card {
            flex-direction: column;
            padding: 0 7px;

            .display {

                .links {
                    justify-content: space-around;
                    align-items: center;

                    div {
                        flex-direction: column;
                        padding-top: 20px;

                        svg {
                            height: 6em;
                            width: 6em;
                        }
                    }
                }
            }

            .description {
                width: 100%;
                text-align: center;
                margin: 0;

                & > p {
                    text-align: left;
                }
            }

        }

    }
}
