$main-background-colour: #FFFFFF;
$secondary-background-colour: #707070;

$text-colour: #707070;

$accent-colour-blue: #3FBBFE;
$accent-colour-purple: #A242FE;

$main-gradent-colour: linear-gradient(90deg, $accent-colour-blue 0%, $accent-colour-purple 100%);

$main-font: 'pragmatica', Arial, Helvetica, sans-serif;

$max-site-width: 1000px;

$mobile-breakpoint-width: 1480px;
$small-mobile-breakpoint-width: 600px;
