// Colour Scheme
$main-colour: #6662D9;
$accent-colour: #72FCDB;
$opacity-colour: #6763d9d9;

// Fonts
$main-font: 'Graphie', Arial, Helvetica, sans-serif;
$accent-font: 'Automate OT', Arial, Helvetica, sans-serif;
